mixin breadcrumbs()
	.breadcrumbs&attributes(attributes)
		ul.breadcrumbs__list
			li.breadcrumbs__item
				a.breadcrumbs__link(href='#') Главная
			li.breadcrumbs__item
				a.breadcrumbs__link(href='#') Объекты в продаже
			li.breadcrumbs__item
				a.breadcrumbs__link(href='#') ЖК Победа
			li.breadcrumbs__item
				a.breadcrumbs__link(href='#') 1 этап
			li.breadcrumbs__item
				a.breadcrumbs__link(href='#') Планы этажей
			li.breadcrumbs__item.breadcrumbs__item_current
				a.breadcrumbs__link(href='#') 3 этаж 2-х комнатная кв. №154
