include ../icon/icon


mixin s-articles()
	+b.s-articles&attributes(attributes)

		.s-articles__in
			h2.s-articles__title.title Статьи
		ul.s-articles__slider
			li.s-articles__item
				.s-articles__item-w
					.s-articles__content
						.s-articles__date 12.03.18
						.s-articles__count
							.s-articles__count-first
							.s-articles__count-sep /
							.s-articles__count-last
						.s-articles__nav
							a.s-articles__nav-prev Назад
							a.s-articles__nav-next Вперед
						.s-articles__content-w
							h3.s-articles__content-title Запуск жилого комплекса в центре города
							.s-articles__content-text
								p
									| Приятно, что не забывают про детский сад, не только корпуса отделывают, за что по сути деньги получают,
									| но параллельно и об инфраструктуре обещанной...
							a.s-articles__more(href='#')
								| Подробнее
								+icon('arrow', true).s-articles__more-icon
			li.s-articles__item
				.s-articles__item-w
					.s-articles__content
						.s-articles__date 12.03.18
						.s-articles__count
							.s-articles__count-first
							.s-articles__count-sep /
							.s-articles__count-last
						.s-articles__nav
							a.s-articles__nav-prev Назад
							a.s-articles__nav-next Вперед
						.s-articles__content-w
							h3.s-articles__content-title Советы дольщику
							.s-articles__content-text
								p
									| Приятно, что не забывают про детский сад, не только корпуса отделывают, за что по сути деньги получают,
									| но параллельно и об инфраструктуре обещанной заботяься-в детском саду уже идет отделка и монтаж внутренних
									| сетей
							a.s-articles__more(href='#')
								| Подробнее
								+icon('arrow', true).s-articles__more-icon
			li.s-articles__item
				.s-articles__item-w
					.s-articles__content
						.s-articles__date 12.03.18
						.s-articles__count
							.s-articles__count-first
							.s-articles__count-sep /
							.s-articles__count-last
						.s-articles__nav
							a.s-articles__nav-prev Назад
							a.s-articles__nav-next Вперед
						.s-articles__content-w
							h3.s-articles__content-title Обзор рынка вторичного жилья
							.s-articles__content-text
								p
									| Приятно, что не забывают про детский сад, не только корпуса отделывают, за что по сути деньги получают,
									| но параллельно и об инфраструктуре обещанной заботяься-в детском саду уже идет отделка и монтаж внутренних
									| сетей
							a.s-articles__more(href='#')
								| Подробнее
								+icon('arrow', true).s-articles__more-icon
			li.s-articles__item
				.s-articles__item-w
					.s-articles__content
						.s-articles__date 12.03.18
						.s-articles__count
							.s-articles__count-first
							.s-articles__count-sep /
							.s-articles__count-last
						.s-articles__nav
							a.s-articles__nav-prev Назад
							a.s-articles__nav-next Вперед
						.s-articles__content-w
							h3.s-articles__content-title Обзор рынка вторичного жилья
							.s-articles__content-text
								p
									| Приятно, что не забывают про детский сад, не только корпуса отделывают, за что по сути деньги получают,
									| но параллельно и об инфраструктуре обещанной заботяься-в детском саду уже идет отделка и монтаж внутренних
									| сетей
							a.s-articles__more(href='#')
								| Подробнее
								+icon('arrow', true).s-articles__more-icon
			li.s-articles__item
				.s-articles__item-w
					.s-articles__content
						.s-articles__date 12.03.18
						.s-articles__count
							.s-articles__count-first
							.s-articles__count-sep /
							.s-articles__count-last
						.s-articles__nav
							a.s-articles__nav-prev Назад
							a.s-articles__nav-next Вперед
						.s-articles__content-w
							h3.s-articles__content-title Обзор рынка вторичного жилья
							.s-articles__content-text
								p
									| Приятно, что не забывают про детский сад, не только корпуса отделывают, за что по сути деньги получают,
									| но параллельно и об инфраструктуре обещанной заботяься-в детском саду уже идет отделка и монтаж внутренних
									| сетей
							a.s-articles__more(href='#')
								| Подробнее
								+icon('arrow', true).s-articles__more-icon
			li.s-articles__item
				.s-articles__item-w
					.s-articles__content
						.s-articles__date 12.03.18
						.s-articles__count
							.s-articles__count-first
							.s-articles__count-sep /
							.s-articles__count-last
						.s-articles__nav
							a.s-articles__nav-prev Назад
							a.s-articles__nav-next Вперед
						.s-articles__content-w
							h3.s-articles__content-title Обзор рынка вторичного жилья
							.s-articles__content-text
								p
									| Приятно, что не забывают про детский сад, не только корпуса отделывают, за что по сути деньги получают,
									| но параллельно и об инфраструктуре обещанной заботяься-в детском саду уже идет отделка и монтаж внутренних
									| сетей
							a.s-articles__more(href='#')
								| Подробнее
								+icon('arrow', true).s-articles__more-icon
			li.s-articles__item
				.s-articles__item-w
					.s-articles__content
						.s-articles__date 12.03.18
						.s-articles__count
							.s-articles__count-first
							.s-articles__count-sep /
							.s-articles__count-last
						.s-articles__nav
							a.s-articles__nav-prev Назад
							a.s-articles__nav-next Вперед
						.s-articles__content-w
							h3.s-articles__content-title Обзор рынка вторичного жилья
							.s-articles__content-text
								p
									| Приятно, что не забывают про детский сад, не только корпуса отделывают, за что по сути деньги получают,
									| но параллельно и об инфраструктуре обещанной заботяься-в детском саду уже идет отделка и монтаж внутренних
									| сетей
							a.s-articles__more(href='#')
								| Подробнее
								+icon('arrow', true).s-articles__more-icon
