mixin hero()
	section.hero&attributes(attributes)
		.hero__slider
			.hero__item(style="background-image: url('assets/images/content/hero-img.jpg');")
				.hero__in
					.hero__content
						.hero__content-w
							.hero__title.title
								| Рассрочка 
								br
								| от застройщика — это выгодно
							.hero__text Более 200 реализованных проектов общей площадью 1 500 000 м²
						.hero__count
							.hero__count-first
							.hero__count-sep /
							.hero__count-last
						.hero__nav
							a.hero__nav-prev Назад
							a.hero__nav-next Вперед
			.hero__item(style="background-image: url('assets/images/content/hero-img.jpg');")
				.hero__in
					.hero__content
						.hero__content-w
							.hero__title.title
								| Рассрочка 
								br
								| от застройщика — это выгодно
							.hero__text Более 200 реализованных проектов общей площадью 1 500 000 м²
						.hero__count
							.hero__count-first
							.hero__count-sep /
							.hero__count-last
						.hero__nav
							a.hero__nav-prev Назад
							a.hero__nav-next Вперед
				a.hero__link(href='#')
			.hero__item(style="background-image: url('assets/images/content/hero-img.jpg');")
				.hero__in
					.hero__content
						.hero__content-w
							.hero__title.title
								| Рассрочка 
								br
								| от застройщика — это выгодно
							.hero__text Более 200 реализованных проектов общей площадью 1 500 000 м²
						.hero__count
							.hero__count-first
							.hero__count-sep /
							.hero__count-last
						.hero__nav
							a.hero__nav-prev Назад
							a.hero__nav-next Вперед
				a.hero__link(href='#')

