@font-face
	font-family "Museo Cyrl 700"
	src local("Museo Cyrl 700"), 
		local("MuseoCyrl-700"),
		url("../fonts/hinted-subset-MuseoCyrl-700.woff2") format("woff2"),
		url("../fonts/hinted-subset-MuseoCyrl-700.woff") format("woff")
	font-weight 700
	font-style normal

@font-face
	font-family "Museo Cyrl 300"
	src local("Museo Cyrl 300"),
		local("MuseoCyrl-300"),
		url("../fonts/hinted-subset-MuseoCyrl-300.woff2") format("woff2"),
		url("../fonts/hinted-subset-MuseoCyrl-300.woff") format("woff")
	font-weight 300
	font-style normal

@font-face
	font-family "Museo Cyrl 300"
	src local("Museo Cyrl 300 Italic"),
		local("MuseoCyrl-300Italic"),
		url("../fonts/hinted-subset-MuseoCyrl-300Italic.woff2") format("woff2"),
		url("../fonts/hinted-subset-MuseoCyrl-300Italic.woff") format("woff")
	font-weight 300
	font-style italic

@font-face
	font-family "Museo Cyrl 500"
	src local("Museo Cyrl 500"),
		local("MuseoCyrl-500"),
		url("../fonts/hinted-subset-MuseoCyrl-500.woff2") format("woff2"),
		url("../fonts/hinted-subset-MuseoCyrl-500.woff") format("woff")
	font-weight 400
	font-style normal

@font-face
	font-family "Museo Cyrl 500"
	src local("Museo Cyrl 500 Italic"),
		local("MuseoCyrl-500Italic"),
		url("../fonts/hinted-subset-MuseoCyrl-500Italic.woff2") format("woff2"),
		url("../fonts/hinted-subset-MuseoCyrl-500Italic.woff") format("woff")
	font-weight 400
	font-style italic

@font-face
	font-family "Merriweather"
	src local("Merriweather Bold"),
		local("Merriweather-Bold"),
		url("../fonts/hinted-subset-Merriweather-Bold.woff2") format("woff2"),
		url("../fonts/hinted-subset-Merriweather-Bold.woff") format("woff")
	font-weight 700
	font-style normal

@font-face
	font-family "Merriweather"
	src local("Merriweather Light"),
		local("Merriweather-Light"),
		url("../fonts/hinted-subset-Merriweather-Light.woff2") format("woff2"),
		url("../fonts/hinted-subset-Merriweather-Light.woff") format("woff")
	font-weight 300
	font-style normal

@font-face
	font-family "Merriweather"
	src local("Merriweather Regular"),
		local("Merriweather-Regular"),
		url("../fonts/hinted-subset-Merriweather-Regular.woff2") format("woff2"),
		url("../fonts/hinted-subset-Merriweather-Regular.woff") format("woff")
	font-weight 400
	font-style normal

// museo
$mB = 'Museo Cyrl 700' , Arial,'Helvetica Neue',Helvetica,sans-serif
$mL = 'Museo Cyrl 300' , Arial,'Helvetica Neue',Helvetica,sans-serif
$mM = 'Museo Cyrl 500' , Arial,'Helvetica Neue',Helvetica,sans-serif

// merriweather
$me = 'Merriweather' , Arial,'Helvetica Neue',Helvetica,sans-serif

