extends /blocks/layout-default/layout-common


include /blocks/icon/icon

include /blocks/topline/topline
include /blocks/header/header
include /blocks/main/main
include /blocks/breadcrumbs/breadcrumbs
include /blocks/slider/slider
//- include /blocks/o-sale/o-sale
//- include /blocks/s-articles/s-articles
//- include /blocks/s-contacts/s-contacts

include /blocks/footer/footer


block head
	- var pageTitle = 'Main page';

block content
	.page__w
		+topline()
		+header().header_inner
		+main().page__content#swup.transition-fade
			.page__in
				+breadcrumbs()
				h1.page__title.title Типовая страница

				.page__row.page__row_text-image
					.page__text.wysiwyg
						p
							| В строительство наших домов мы вкладываем частичку души, многолетний опыт строительства, заботу о клиентах.
							| Продумывая каждую деталь дома,
							br
							| мы предусмотрели многое, чтобы вы жили по-настоящему комфортно.
						p
							| Построив наши объекты добросовестно и точно в срок, мы заслужили доверие горожан. Мы очень дорожим этим
							| доверием и стараемся работать так, чтобы каждый покупатель возвращался к нам снова и снова.
						p
							| Главной задачей компании является создание комфортной среды проживания — продуманной, безопасной и
							| эстетичной. Мы строим по индивидуальным проектам, ответственно подходим к созданию планировочных решений, чтобы
							| каждый клиент чувствовал, что выбранная им квартира создана именно
							br
							| для него.
						p
							| Директор компании — Баранова Ирина Николаевна, потомственный заслуженный Строитель. Прогрессивный
							| профессионал с добросовестным отношением к делу, с нестандартным мышлением, с гибким, присущим только женщине,
							| подходом к решению задач. Под ее руководством компания заслужила лидерские позиции на Тверском рынке
							| застройщиков.
					.page__image.image
						img(src='assets/images/content/content-img.jpg' alt='')

				.page__row.wysiwyg.page__row_blockquote.page__row_column
					h2 Заголовок второго уровня
					blockquote.page__blockquote.blockquote
						p
							| Главной задачей компании является создание комфортной среды проживания — продуманной, безопасной и
							| эстетичной. Мы строим по индивидуальным проектам, ответственно подходим к созданию планировочных решений, чтобы
							| каждый клиент чувствовал, что выбранная им квартира создана именно
							br
							| для него.


				.page__row.page__row_tabs.page__row_without-style
					.page__tabs.tabs
						.tabs__nav
							a.tabs__link.tabs__link_active(href='#tab-1') Планировки квартир
							a.tabs__link(href='#tab-2') Планы этажей
							a.tabs__link(href='#tab-3') Планы этажей 2
						.tabs__content
							#tab-1.tabs__tab.tabs__tab_active
								.page__text.wysiwyg
									p
										| В строительство наших домов мы вкладываем частичку души, многолетний опыт строительства, заботу о
										| клиентах. Продумывая каждую деталь дома, мы предусмотрели многое, чтобы вы жили по-настоящему комфортно.
									p
										| Построив наши объекты добросовестно и точно в срок, мы заслужили доверие горожан. Мы очень дорожим этим
										| доверием и стараемся работать так, чтобы каждый покупатель возвращался к нам снова и снова.
									p
										| Главной задачей компании является создание комфортной среды проживания — продуманной, безопасной и
										| эстетичной. Мы строим по индивидуальным проектам, ответственно подходим к созданию планировочных решений,
										| чтобы каждый клиент чувствовал, что выбранная им квартира создана именно
										br
										| для него.
							#tab-2.tabs__tab
								.page__text.wysiwyg
									p
										| В строительство наших домов мы вкладываем частичку души, многолетний опыт строительства, заботу о
										| клиентах. Продумывая каждую деталь дома, мы предусмотрели многое, чтобы вы жили по-настоящему комфортно.
									p
										| Построив наши объекты добросовестно и точно в срок, мы заслужили доверие горожан. Мы очень дорожим этим
										| доверием и стараемся работать так, чтобы каждый покупатель возвращался к нам снова и снова.
							#tab-3.tabs__tab
								.page__text.wysiwyg
									p
										| В строительство наших домов мы вкладываем частичку души, многолетний опыт строительства, заботу о
										| клиентах. Продумывая каждую деталь дома, мы предусмотрели многое, чтобы вы жили по-настоящему комфортно.


				.page__row.page__row_column.page__row_without-style


				.page__list.wysiwyg
					h3 Заголовок списка
					ul
						li Список №1
						li Список №2
						li Список №3
						li Список №4
				.page__table.wysiwyg
					h3 Заголовок таблицы
					.table
						.table__shadow
							table
								tbody
									tr
										th Заголовок №1
										th Заголовок №2
										th Заголовок №3
										th Заголовок №4
										th Заголовок №5
									tr
										td Наименование
										td Наименование
										td Наименование
										td Наименование
										td Наименование
									tr
										td Наименование
										td Наименование
										td Наименование
										td Наименование
										td Наименование
									tr
										td Наименование
										td Наименование
										td Наименование
										td Наименование
										td Наименование
									tr
										td Наименование
										td Наименование
										td Наименование
										td Наименование
										td Наименование

				+slider().page__slider



		+footer()
