include ../icon/icon

mixin s-about()
	section.s-about&attributes(attributes)
		.s-about__in
			.s-about__w
				.s-about__w-w
					.s-about__img
						img(src='assets/images/content/s-about.png', alt='')
					.s-about__content
						h1.s-about__title.title «Основание»
						.s-about__text
							p
								| ООО «Основание» обращает Ваше внимание на то, что данный Интернет-сайт носит исключительно информационный
								| характер и ни при каких условиях не является публичной офертой, определяемой положениями статьи 437
								| Гражданского кодекса РФ. Информация, представленная на сайте, ни при каких условиях не должна
								| рассматриваться как предложение, сделанное Продавцом какому-либо лицу. Продавец оставляет за собой право в
								| любое время изменить данную информацию без предварительного уведомления. Для получения более подробной
								| информации, пожалуйста, обращайтесь в отдел продаж ООО «Основание».
						a.s-about__more(href='#more')
							| Подробнее
							+icon('arrow', true).s-about__more-icon
