.s-about
	position relative
	z-index 0
	&__in
		@extends .in
		position relative
		z-index -1
		padding-top 101px
		display flex
		justify-content flex-end
		+r($tM)
			padding-top 200px

	&__w
		border 2px solid #f4f4f4
		margin-right -20px
		padding 20px 22px 20px 40px
		width 1246px
		+r($tM)
			padding-left 22px
			width auto
		+r($m)
			padding 8px
	&__w-w
		background-color #f4f4f4
		display flex
		justify-content space-between
		+r($tM)
			display block
	&__img
		position relative
		width 450px
		+r($tM)
			margin auto
			max-width 253px
			width 100%
		img
			position absolute
			top -40px
			left -323px
			+r($tM)
				position static
				margin-top -96px
				max-width 100%
				height auto

	&__content
		padding 73px 60px 68px 29px
		width 720px
		+r($tM)
			position relative
			z-index 1
			padding-top 0
			padding-right 30px
			width auto
		+r($m)
			padding-left 15px
			padding-right 12px
			padding-bottom 37px
	&__title
		margin-bottom 47px
		padding-bottom 28px
		font-family $me
		font-weight 700
		letter-spacing .03em
		+r($tM)
			margin-bottom 25px
	&__text
		margin-bottom 60px
		letter-spacing .16px
		+r($tM)
			margin-bottom 30px
		+r($m)
			margin-bottom 28px
			font-size 14px
			line-height 1.7
			letter-spacing .14px
	&__more,
	&__text
		font-family $mM
		font-weight 500

	&__more
		display flex
		justify-content flex-start
		align-items center
		color #c42141
		font-size 18px
		line-height 1.333
		letter-spacing .18px
		text-decoration none
		cursor pointer
		transition all .3s ease
		&:hover
			color #de3a5a
			transition all .3s ease
			.s-about__more-icon
				margin-left calc(19px + 15px)
				fill #de3a5a
				transition all .3s ease

	&__more-icon
		position relative
		margin-left 19px
		width 26px
		height 11px
		fill #c42141
		transform rotate(180deg)
		transition all .3s ease

