mixin footer()
	footer.footer&attributes(attributes)
		.footer__in
			.footer__top
				a.footer__logo(href='#')
					img(src='assets/images/general/logo-second.svg', alt='')
				nav.footer__nav.nav.nav_second
					ul.nav__list
						li.nav__item
							a.nav__link(href='#link-1') О компании
						li.nav__item
							a.nav__link(href='#link-2') Объекты в продаже
						li.nav__item
							a.nav__link(href='#link-3') Спецпредложения
						li.nav__item
							a.nav__link(href='#link-4') Построенные объекты
						li.nav__item
							a.nav__link(href='#link-5') Контакты
			.footer__bottom
				.footer__copyright © Все права защищены
				.footer__year 2018
